h1{color: blue;
text-align: center;}
h3{color: black;
text-align: center;}
img{
    text-align: center;
    width: 300px; height: 400px;
display: block; margin-left: 40%;
}
a{text-decoration: none;
    margin-left: 50%;
}
